<html>

  <head>
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../static/app.css">
  </head>

  <body>
    <h1>Feedback App</h1>
    <div class="container">
      {% for msg in get_flashed_messages() %}
        <div class="alert alert-danger">{{ msg }}</div>
      {% endfor %}  
        <!-- Content from other pages goes here! -->



      {% block content %}
      {% endblock %}
    </div>
  

    <script type="text/javascript" src="../static/app.js"></script>
  </body>
  
</html>
