{% extends 'base.html' %}
{% block title %} Secret Page! {% endblock %}

{% block content %}

<h2>User details for {{user.username}}</h2>

{% if user.id == session.user_id %}
    <form action="/users/{{user.username}}/delete" method="POST">
        <button>Delete this account</button>
    </form>
{% endif %}

<p>username: {{user.username}}</p>
<p>first name: {{user.first_name}}</p>
<p>last name: {{user.last_name}}</p>
<p>email: {{user.email}}</p>
<p>Feedback:</p>
<ul>
    {% for post in user.feedback %}
    <li>{{post.title}} - {{post.content}}
        {% if session.user_id == user.id %}
            <a class="edit" href="/feedback/{{post.id}}/update">Edit</a>
            <form action="/feedback/{{post.id}}/delete" method="POST">
                 <button>Delete</button>
            </form>
        {% endif %}
    </li>
    {% endfor %}
</ul>
{% if session.user_id == user.id %}<a href="/users/{{user.username}}/feedback/add">Add Feedback</a>{% endif %}


<p><a href="/logout">Log out</a></p>

{% endblock %}